@import '../index.scss';

.menu {
  background-color: $color-blueBg;
  width: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  .navbar {
    padding: 0 2rem !important;
    height: 4rem;
    display: flex;
    align-items: center;
    .navbar-nav {
      align-items: center;
    }
  }
  .navbar-expand .navbar-nav .nav-link {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    padding: 0;
  }
  .menu_img {
    margin-left: 2rem;
    margin-right: .5rem;
    img {
      width: 2.1rem;
    }
  }
  .navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
  }
  .logo_img {
    width: 100%;
    img {
      width: 4.5rem;
    }
  }
  #youtube {
    img{
      width: 1.9rem;
    }
  }
  img {
    width: 1.6rem;
  }
}
@media (max-width: 768px) { 
  .menu {
    height: 3rem;
    .navbar {
      height: 3rem;
      padding: 0rem !important;
    }
    .navbar-expand .navbar-nav .nav-link {
      display: none;
    }
    .logo_img img {
      width: 3.5rem;
    }
    .menu_img {
      padding-left: 0;
      padding-right: .5rem;
      img {
        width: 2rem;
      }
    }
  }
}

/* ------------------------------------------------ */
.wrapper {
  width: 100%;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capa_binary {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../assets/images/binary-code-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 100%;
  height: 100%;
  opacity: .1;

  img {
    width: 100%;
  }
}
.wrapper_name {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 13rem;
}
.wrapper_divider{ 
  margin: .5rem 0;
  img{
    width: 7rem;
  }
}
.wrapper_subtitle {
  margin: 1rem 0;
}
.p_wrap {
  width: 45%;
}

// btn
.wrapper_btn{
  width: 12%;
  margin-top: 1rem;
  a {
    background-color: $color-pinkLight;
    color: $color-white;
    padding: .3rem 2rem;
    border-radius: 5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transition: all .5s;
    p {
      margin: 0;
      font-size: 16px;
      display: inline;
    }
  }
}
.wrapper_btn:hover {
  a{
    background-color: $color-pink;
    box-shadow: 2px 2px 5px black;
  }
}

// icons contact
.wrapper_socials {
  margin-top: 2rem;
  .icon_social {
    margin-right: 3rem;
    img {
      width: 1.7rem;
      transition: .5s;
    }
  }
}
#email.super_subtitle:hover {
  transform: scale(1.04) translateX(10px);
}
.icon_social img:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .wrapper {
    justify-content: flex-start;
    flex-direction: column-reverse;
    .wrapper_name {
      height: 50vh;
      overflow: hidden;
      align-items: flex-start;
      padding: 0 3rem;
    }
    .wrapper_portfolio {
      height: 50vh;
      // overflow: hidden;
      justify-content: center;
      align-items: flex-end;
      .wrapper_img {
        background-color: transparent;
        box-shadow: none;
        img {
          width: 80%;
          margin-top: 0;
        }
      }
      .capa_binary {
        background-position: center 1cm;
      }
    }
    .wrapper_subtitle {
      margin: .5rem 0;
    }
    .wrapper_divider img{
      width: 2.8rem;
    }
    .row_reverse {
      flex-direction: column-reverse;
    }
    .p_wrap {
      width: 100%;
    }
  }
  // btn
  .wrapper_btn{
    width: 40%;
    margin-top: 0;
    a {
      padding: 0 1rem;
      p {
        font-size: 13px;
        display: inline-block;
      }
    }
  }
  // socials contact
  .wrapper_socials {
    margin-top: 0;
    .icon_social {
      padding-right: 1.5rem;
      img {
        width: 1.3rem;
      }
    }
  }
}

/* -----------------  Soy ----------------- */
.wrapper_title-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    font-size: 70px;
    letter-spacing: 20px;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
.soy-pt {
  padding: 2rem;
}
.line_hr {
  width: 8rem;
  margin-right: 1.5rem;
  hr {
    border-top-width: 4px;
    border-top-color: $color-pink;
  }
}
.wrapper_info {
  padding-top: 2.5rem;
  width: 70%;
}
.wrapper-pasion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 2rem;
}
.title-p {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 5px;
  margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.text-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: $color-gray;
  padding-bottom: 1rem;
}
.wrapper_text-p {
  width: 75%;
  margin-left: 3rem;
}
.img-pasion {
  width: 35%;
  margin-bottom: 1rem;
}
.img-hobbie {
  width: 90%;
  display: flex;
  align-items: flex-end;
  // margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .content-sm {
    width: 100%;
    overflow-x: hidden;
  }
  .wrapper_title-section p {
      font-size: 35px;
      letter-spacing: 10px;
  }
  .wrapper_info {
    padding-top: 2.5rem;
    width: 100%;
  }
  .line_hr {
    width: 3rem;
    margin-right: 1rem;
  }
  .wrapper-pasion {
    padding: 2.5rem 0 1rem;
  }
  .title-p {
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 1.3rem;
  }
  .wrapper_text-p {
    width: 82%;
    margin-left: 0;
  }
  .text-p {
    font-size: 16px;
    padding-bottom: 0rem;
  }
  .img-pasion {
    width: 30%;
    margin-bottom: 1rem;
  }
  .img-hobbie { 
    width: 85%;
  }
}
// Skills
.wrapper_skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 0 2rem;
  width: 80%;
  text-align: center;
  .content_header {
    width: 80%;
    margin: 2rem 0;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    .wrapper_images {
      position: relative;
      img{
        width: 6rem;
      }
      img.img-certificate{
        position: absolute;
        left: -15px;
        top: -20px;
        width: 2.8rem !important;
      }
    }
    .wrapper_info-skill {
      width: fit-content;
      margin: 0 2rem;
      .title-skill {
        font-size: 28px;
        text-transform: uppercase;
        color: $color-grayOpacity;
        margin: 0;
        padding: 0 .3rem;
        letter-spacing: 5px;
        font-family: 'Montserrat', sans-serif;
      }
      .divider {
        border-top-color: $color-gray2;
        border-top-width: 2px;
        opacity: .5;
        margin: .5rem 0;
      }
      .p-years {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-style: italic;
        color: $color-grayOpacity;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
  .barra {
    width: 80%;
    border-top: 15px solid $color-blueLight;
    border-radius: 5rem;
  }
}
@media (max-width: 768px) {
  .wrapper_skill {
    width: 100%;
    padding: 0rem;
    .content_header {
      width: 100%;
      margin: auto;
      margin: 1rem 0;
      justify-content: center;
      padding-left: 0;
      .wrapper_images {
        img{
          width: 5rem;
        }
        img.img-certificate{
          width: 2.5rem !important;
        }
      }
      .wrapper_info-skill {
        margin: 0 1rem;
        .title-skill {
          font-size: 20px;
          letter-spacing: 4px;
        }
        .divider {
          border-top-color: $color-gray2;
          border-top-width: 2px;
          opacity: .5;
        }
        .p-years {
          padding: 0;
          margin: 0;
          font-size: 18px;
          font-style: italic;
          color: $color-grayOpacity;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }
}

/* ----------- footer ----------- */
.footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  p {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .wrapper-footer {
    width: 80%;
    margin: auto;
  }
  .footer {
    width: 50%;
    margin: auto;
  }
  a {
    text-decoration: underline !important;
  }
  span {
    padding-right: 0rem !important;
  }
}