@import '../index.scss';

.menu {
  background-color: $color-blueBg;
  width: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  .navbar {
    padding: 0 2rem !important;
    height: 4rem;
    display: flex;
    align-items: center;
    .navbar-nav {
      align-items: center;
    }
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu_img {
    padding-left: 2rem;
    padding-right: .5rem;
    img {
      width: 2.5rem;
    }
  }
  .navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
  }
  .logo_img {
    width: 100%;
    img {
      width: 4.5rem;
    }
  }
  #youtube {
    img{
      width: 1.9rem;
    }
  }
  img {
    width: 1.6rem;
  }
}
@media (max-width: 768px) { 
  .menu {
    height: 3rem;
    .navbar {
      height: 3rem;
      padding: 0rem !important;
    }
    .navbar-expand .navbar-nav .nav-link {
      display: none;
    }
    .logo_img img {
      width: 3.5rem;
    }
    .menu_img {
      padding-left: 0;
      padding-right: .5rem;
      img {
        width: 2rem;
      }
    }
  }
}

// Home - Name
.name {
  width: 100%;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper_name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 13rem;
  }
  .wrapper_portfolio{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .wrapper_img {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-top: 3rem;
        width: 90%;
        z-index: 2;
      }
    }
    .capa_binary {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../images/binary-code-2.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 100%;
      opacity: .1;
      .binary_icon {
        font-size: 2rem;
      }
      img {
        width: auto;
      }
    }
  }
  .wrapper_divider{ 
    margin: .5rem 0;
    img{
      width: 7rem;
    }
  }
  .wrapper_subtitle {
    margin: 1rem 0;
  }
}
@media (max-width: 768px) {
  .name {
    justify-content: flex-start;
    flex-direction: column-reverse;
    .wrapper_name {
      height: 50vh;
      overflow: hidden;
      align-items: flex-start;
      padding: 0 3rem;
    }
    .wrapper_portfolio {
      height: 50vh;
      // overflow: hidden;
      justify-content: center;
      align-items: flex-end;
      .wrapper_img {
        background-color: transparent;
        box-shadow: none;
        img {
          width: 80%;
          margin-top: 0;
        }
      }
      .capa_binary {
        background-position: center 1cm;
      }
    }
    .wrapper_subtitle {
      margin: .5rem 0;
    }
    .wrapper_divider img{
      width: 3rem;
    }
    .row_reverse {
      flex-direction: column-reverse;
    }
  }
}
