@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

/*  Variables  */
$color-white: #FFFFFF;
$color-blueBg: #07182B;


/* ---------- Color Text ----------- */
.text-white {
  color: $color-white;
}

/* ------------------ */
* {
  box-sizing:border-box;
  font-family: 'Martel Sans', sans-serif;
  // font-family: 'Source Code Pro', monospace;
  // font-family: 'Montserrat', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  color: $color-white;
  background-color: $color-blueBg;
}

.p-0 {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}
.super_title {
  font-size: 6rem;
  // font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 !important;
}
.super_subtitle {
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  text-transform: lowercase;
}
.title_section {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.title {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.text {
  font-size: 20px;
}

@media (max-width: 768px) {
  .super_title {
    font-size: 3rem;
  }
  .super_subtitle {
    font-size: 1.5rem;
  }
}
/* ------------------------ */

.section {
  height: 100vh !important;
  width: 100%;
  &::before{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: rgba(19,66,120,.5);
      content: '';
    }
}
.wrapper_text {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .section{
    padding:0 0rem;
    width: 100%;
    height: 100vh;
  }
  .capa {
    &::before{
      width: 100%;
      height: 50vh;
    }
  }
}
/* ----------- Fullpage.js ------------ */
// Dots
.fp-right {
  right: 0 !important;
  left: 17px !important;
}
#fp-nav ul li:hover a.active span, #fp-nav ul li a.active span, .fp-slidesNav ul li:hover a.active span, .fp-slidesNav ul li a.active span {
  height: 4px !important;
  width: 45px !important;
  margin: -2px 0 0 -2px !important;
  background: $color-white !important;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  border-radius: 2rem !important;
  height: 4px !important;
  width: 24px !important;
  background: $color-white !important;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
  margin: -2px 0 0 -2px !important;
  width: 28px !important;
}