@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');
/*  Variables  */
$color-white: #FFFFFF;
$color-blueBg: #07182B;
$color-blue: #134278;
$color-blueLight: #6CA0BA;
$color-blueOpacity: rgba(31,108,196,.5);
$color-pinkLight: #F76C6C;
$color-pink: #FF4D5A;
$color-gray: #60696E;
$color-gray2: #707070;
$color-grayOpacity: rgba(84,87,89,.75);

/* ---------- Color Text ----------- */
.text-white {
  color: $color-white;
}
.text-white {
  color: $color-white;
}
.text-bluebg {
  color: $color-blueBg;
}
.text-pink {
  color: $color-pink;
}
.without_decoration {
  list-style: none;
  text-decoration: none;
}
.bg_white {
  background-color: $color-white;
}
.bg-bluebg {
  background-color: $color-blueBg;
}
/* ------------------ */
* {
  box-sizing:border-box;
  font-family: 'Martel Sans', sans-serif;
  // font-family: 'Source Code Pro', monospace;
  // font-family: 'Montserrat', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  color: $color-white;
  background-color: $color-blueBg;
}

.p-0 {
  padding: 0 !important;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.pt-6 {
  padding-top: 6rem;
}
.column-6 {
  width: 50%;
}
.column-12 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.super_title {
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 !important;
  text-shadow: 10px 10px 30px rgba(0,0,0,.4);
}
.super_subtitle {
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  text-transform: lowercase;
  transition: all .5s;
}
.title_section {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.title {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.text {
  font-size: 20px;
}

@media (max-width: 768px) {
  .super_title {
    font-size: 2.5rem;
  }
  .super_subtitle {
    font-size: .9rem;
  }
  .colum-sm-12 {
    width: 100% !important;
  }
  .mt-2 {
    padding-top: .5rem;
  }
  .ml-auto{
    margin-left: 0 !important;
  }
  .mr-auto{
    margin-right: 0 !important;
  }
  .fp-tableCell {
    height: 100vh !important;
  }
}
/* ----------- ::before de section ------------- */

.section {
  height: 100vh !important;
  width: 100%;
  &::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(19,66,120,.5);
    content: '';
    z-index: -1;
    padding: 1rem ;
  }
}
#home.section::before {
  background-image: url('./assets/images/version-control-animate.svg'), url('./assets/images/binary-code-2.png');
  background-repeat: no-repeat;
  background-position: center 1cm, center;
  background-origin: border-box;
  background-size: contain, cover;
}
#quien.section::before {
  background-image: url('./assets/images/questions-animate.svg'), url('./assets/images/binary-code-2.png');
  background-repeat: no-repeat;
  background-position: center 1cm, center;
  background-origin: border-box;
  background-size: contain, cover;
}
#portfolio.section::before {
  background-image: url('./assets/images/portfolio-update-animate.svg'), url('./assets/images/binary-code-2.png');
  background-repeat: no-repeat;
  background-position: center, center;
  background-origin: border-box;
  background-size: 110%, cover;
}
#contact.section::before {
  background-image: url('./assets/images/conversation-animate.svg'), url('./assets/images/binary-code-2.png');
  background-repeat: no-repeat;
  background-position: center, center;
  background-origin: border-box;
  background-size: 110%, cover;
}

.without_bg {
  &::before {
    background: transparent;
  }
}
#soy.section::before {
  background-image: url('./assets/images/questions-animate.svg'), url('./assets/images/binary-code-2.png');
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-origin: border-box;
  background-size: 85%, cover;
  z-index: 2;
}
#cv.section::before {
  background-image: url('./assets/images/maintenance-animate.svg');
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-origin: border-box;
  background-size: 85%;
  z-index: 1;
}
.wrapper_text {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .section{
    padding:0 0rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    right: 0;
    &::before{
      width: 100%;
      height: 45vh;
      display: none;
      top: 55% !important;
    }
  }
  #home.section::before, #quien.section::before {
    background-position: center, .4cm !important;
  }
  .menu .navbar .navbar-nav{
    width: 80vw !important;
    display: flex;
    justify-content: flex-end;
  }
}
/* ------------ Scroll Text ----------- */
.wp_scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .line_scroll {
    width: 1px;
    height: 5.5rem;
    background-color: $color-white;
    opacity: .6;
  }
  .wp_img {
    position: absolute;
    bottom: 6rem;
    img.mouse{
      width: 2.8rem;
    }
    .dot {
      position: absolute;
      bottom: 60%;
      left: calc(50% - 2.5px);
      width: 5px;
      height: 9px;
      border-radius: 1rem;
      background-color: $color-white;
      animation: scroll 1s infinite;
    }
  }
  @keyframes scroll {
    0%{
      bottom: 60%;
    }
    100% {
      bottom: 25%;
      transform: scale(1.2);
      // left: calc(50% - 2.5px);
    }
  }
}

/* ----------- Fullpage.js ------------ */
// Dots
.fp-right {
  right: 0 !important;
  left: 17px !important;
}
#fp-nav ul li a.active span,  
#fp-nav ul li a span, .fp-slidesNav ul li a span {
// #fp-nav ul li a span, .fp-slidesNav ul li a span {
  transition: all .5s !important;
}
#fp-nav ul li:hover a.active span, #fp-nav ul li a.active span, .fp-slidesNav ul li:hover a.active span, .fp-slidesNav ul li a.active span {
  height: 4px !important;
  width: 45px !important;
  margin: -2px 0 0 -2px !important;
  background: $color-white !important;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  border-radius: 2rem !important;
  height: 4px !important;
  width: 24px !important;
  background: $color-white !important;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
  margin: -2px 0 0 -2px !important;
  width: 30px !important;
}

@media (max-width: 768px) {
  #fp-nav {
    top: unset  !important;
    bottom: 0 !important;
    width: fit-content;
    left: calc(50% - 1rem) !important;
  }
  #fp-nav.fp-right {
    transform: rotate(-90deg);
  }
  #fp-nav ul li:hover a.active span, #fp-nav ul li a.active span, .fp-slidesNav ul li:hover a.active span, .fp-slidesNav ul li a.active span {
    width: 35px !important;
    margin: -2px 0 0 -2px !important;
  }
  #fp-nav ul li a span, .fp-slidesNav ul li a span{
    height: 4px !important;
    width: 20px !important;
  }
}


// Excepciones //

a:hover {
  text-decoration: none;
}